In [2]:
import pandas as pd

In [3]:
air_data = pd.read_csv('AirQuality_Daily_StudentVersion.csv')
air_data = pd.DataFrame(air_data)

In [5]:
#Task 1
air_data_grouped = air_data.groupby('sensor.name').agg(
    VOC_mean =('voc', 'mean'),
    VOC_median=('voc', 'median'),
    pm25_mean=('pm2.5_atm', 'mean'),
    pm25_median=('pm2.5_atm', 'median'),
    pm10_mean=('pm10.0_atm', 'mean'),
    pm10_median=('pm10.0_atm', 'median')

)

#PM2.5
top5_stat_pm25 = (
    air_data_grouped.sort_values(by=['pm25_mean','pm25_median'], ascending = False)
)
top5_stat_pm25.head(5)
#PM10.0
top5_stat_pm10 = (
    air_data_grouped.sort_values(by=['pm10_mean','pm10_median'], ascending = False)
)
#VOC
top5_stat_voc = (
    air_data_grouped.sort_values(by=['VOC_mean','VOC_median'], ascending = False)
)
top5_stat_voc.head(5)

,VOC_mean,VOC_median,pm25_mean,pm25_median,pm10_mean,pm10_median
sensor.name,,,,,,
Swnphd-ogallala,399.434240,423.082292,10.396579,3.518510,11.347889,4.149646
FCHD-YPS,372.462720,375.383500,9.167842,5.838188,11.138241,7.442750
Three Rivers Public Health Department,370.216208,376.810167,9.601760,6.860375,11.226492,8.239708
ELVPHD Norfolk HD 4,360.833744,368.580500,13.369492,9.706229,15.969341,11.474708
Swnphd-mccook,353.941581,381.468479,123.011622,4.582281,124.227336,5.372073

In [9]:
#Task 2
unhealthy_voc = air_data[air_data['voc']>=25]
unhealthy_events = unhealthy_voc[
    ['date', 'sensor.name', 'voc']
].sort_values('date')
unhealthy_events.head(10)

          date                                        sensor.name         voc
6552  01/01/25                                     SWNPHD-Imerial  377.393125
6571  01/01/25                                    Swnphd-ogallala  522.399333
6570  01/01/25  South Heartland District Health Dept. Superior...  199.845625
6569  01/01/25                Loup Basin Public Health Department  193.350875
6568  01/01/25                                           FCHD-YPS  232.136042
6566  01/01/25                                      Swnphd-mccook  440.842000
6565  01/01/25                                         Broken Bow  236.872083
6564  01/01/25                        WCDHD Arthur High School 28  380.885625
6563  01/01/25                         Ainsworth Public School #9  310.367708
6567  01/01/25              Three Rivers Public Health Department  268.037042

In [10]:
#Task 3
def assign_temperature(temperature):
    if temperature < 32:
        return 'Below Freezing'
    elif 32<=temperature<=50: 
        return 'Cool'
    elif 51<=temperature<=70:
        return 'Warm'
    else:
        return 'Hot'
air_data['temperature_level'] = air_data['temperature'].apply(assign_temperature)
def assign_hum(humidity):
    if humidity <50:
        return 'Low'
    elif 50<=humidity<=80:
        return 'High'
    else:
        return 'Very High'
        
air_data['humidity_level'] = air_data['humidity'].apply(assign_hum)
hum_temp_air_data = air_data.groupby(
    ['humidity_level', 'temperature_level']
).agg(
     VOC_mean =('voc', 'mean'),
    pm25_mean=('pm2.5_atm', 'mean'),
    pm10_mean=('pm10.0_atm', 'mean')
)
air_data.head(10)

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name,temperature_level,humidity_level
0,02/23/24,195089,14.377667,912.884333,62.266667,51.998667,0.051333,0.100000,0.000000,0.002500,0.039667,40.050922,-101.533570,3005,Swnphd-Benklemen,Warm,Low
1,02/23/24,195365,12.223600,926.403000,71.193400,64.920800,0.000000,0.180000,0.004800,0.020000,0.176000,40.200330,-100.639885,2576,Swnphd-mccook,Hot,Low
2,02/23/24,195541,20.095750,905.670750,61.008250,68.307000,0.020000,0.162500,0.004125,0.014812,0.063937,41.128284,-101.720220,3220,Swnphd-ogallala,Warm,Low
3,02/24/24,195089,25.368000,911.708833,51.462458,91.176750,0.052667,0.437500,0.099542,0.170667,0.355208,40.050922,-101.533570,3005,Swnphd-Benklemen,Warm,Low
4,02/24/24,195365,23.703083,925.282125,56.818208,107.863708,0.000000,0.475000,0.099208,0.231687,0.548583,40.200330,-100.639885,2576,Swnphd-mccook,Warm,Low
5,02/24/24,195541,29.082083,903.069000,52.063833,96.558875,0.020000,0.441667,0.053417,0.118813,0.241583,41.128284,-101.720220,3220,Swnphd-ogallala,Warm,Low
6,02/25/24,195089,20.633125,906.199667,54.271000,98.027208,0.053542,0.741667,0.186167,0.536167,1.272979,40.050922,-101.533570,3005,Swnphd-Benklemen,Warm,Low
7,02/25/24,195365,17.341708,919.602625,61.311000,104.390083,0.000000,0.941667,0.543604,0.907917,1.609354,40.200330,-100.639885,2576,Swnphd-mccook,Warm,Low
8,02/25/24,195541,23.904208,897.842417,55.670833,89.880250,0.020000,0.791667,0.283729,0.602854,0.985021,41.128284,-101.720220,3220,Swnphd-ogallala,Warm,Low
9,02/26/24,195089,18.948792,901.163792,57.556792,83.773958,0.053292,0.850000,0.279896,0.744229,1.834646,40.050922,-101.533570,3005,Swnphd-Benklemen,Warm,Low

In [11]:
#Task 4
unhealthy_voc = air_data[air_data['voc']>=200]
unhealthy_events = unhealthy_voc[
    ['date', 'sensor.name', 'voc']
].sort_values('date') 
unhealthy_events.head(10)

          date                            sensor.name         voc
6571  01/01/25                        Swnphd-ogallala  522.399333
6568  01/01/25                               FCHD-YPS  232.136042
6567  01/01/25  Three Rivers Public Health Department  268.037042
6566  01/01/25                          Swnphd-mccook  440.842000
6565  01/01/25                             Broken Bow  236.872083
6564  01/01/25            WCDHD Arthur High School 28  380.885625
6563  01/01/25             Ainsworth Public School #9  310.367708
6562  01/01/25               Buffalo County TRPHD #26  448.449667
6552  01/01/25                         SWNPHD-Imerial  377.393125
6560  01/01/25                      #17 - Otoe County  307.002542